{% extends 'base.html.twig' %}

{% block title %}flexifood
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	<style>
		.sticky-top {
			height: "150px";
			overflow-y: auto;
		}
	</style>
	<style>
		/* Style pour le conteneur des commentaires */
		.comment-container {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 50vh;
			flex-direction: column;
		}

		/* Style pour la zone des commentaires Facebook */
		.comment-box {
			max-height: 300px; /* Hauteur maximale */
			overflow: auto; /* Activation de la barre de défilement */
		}

		/* Style pour le champ d'insertion de commentaire */
		.comment-input {
			position: sticky;
			bottom: 0;
			background-color: white; /* Fond blanc pour le contraste */
			padding: 10px;
			width: 100%;
		}
	</style>
{% endblock %}

{% block body %}
	{# {{ dump(populaire_recent) }} #}
	<!-- Our Services -->
		<div class="section-area content-inner service-info-bx"> <div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-6">
					<div class="service-bx">
						<div class="action-box">
							<img src="assets/images/blog/latest-blog/pic1.jpg" alt="">
						</div>
						<div class="info-bx text-center">
							<div class="feature-box-sm radius bg-white">
								<i class="fa fa-cutlery text-primary" style="border-radius: 50%;"></i>
								<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill badge-danger">
									15+
								</span>
							</div>
							<h4>
								<a href="#">{% trans %}Une génération engagée{% endtrans %}</a>
							</h4>
							<a href="#" class="btn radius-xl">
								<i class="fa fa-eye"></i>
								{% trans %}Lire{% endtrans %}</a>

						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6">
					<div class="service-bx">
						<div class="action-box">
							<img src="assets/images/blog/latest-blog/pic2.jpg" alt="">
						</div>
						<div class="info-bx text-center">
							<div class="feature-box-sm radius bg-white">
								<i class="fa fa-cutlery text-primary"></i>
							</div>
							<h4>
								<a href="#">{% trans %}Des repas zéro déchet{% endtrans %}</a>
							</h4>
							<a href="#" class="btn radius-xl">
								<i class="fa fa-eye"></i>
								{% trans %}Lire{% endtrans %}</a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-12">
					<div class="service-bx m-b0">
						<div class="action-box">
							<img src="assets/images/blog/latest-blog/pic3.jpg" alt="">
						</div>
						<div class="info-bx text-center">
							<div class="feature-box-sm radius bg-white">
								<i class="fa fa-cutlery text-primary"></i>
							</div>
							<h4>
								<a href="#">{% trans %}Un futur plus responsable{% endtrans %}
								</a>
							</h4>
							<a href="#" class="btn radius-xl">
								<i class="fa fa-eye"></i>
								{% trans %}Lire{% endtrans %}</a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-12">
					<div class="service-bx m-b0">
						<div class="action-box">
							<img src="assets/images/blog/latest-blog/pic4.jpg" alt="">
						</div>
						<div class="info-bx text-center">
							<div class="feature-box-sm radius bg-white">
								<i class="fa fa-cutlery text-primary"></i>
								<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill badge-danger">
									3+
								</span>
							</div>
							<h4>
								<a href="#">Repas éthiques et délicieux</a>
							</h4>
							<a class="btn radius-xl" href="#">
								<i class="fa fa-eye"></i>
								{% trans %}Lire{% endtrans %}</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<br/><br/>

	<!-- Breadcrumb row END -->
	


	<div class="section-area section-sp2">
				<div class="container">
					<div class="row">
						<div class="col-md-12 text-center heading-bx">
							<h2 class="title-head m-b0">Notre engagement local et sociétal</h2>
							<p class="m-b0">Maintenant et après. </p>
						</div>
					</div>
					<div class="row">
					<div class="upcoming-event-carousel owl-carousel owl-btn-center-lr owl-btn-1 col-12 p-lr0  m-b30">
						<div class="item">
							<div class="event-bx">
								<div class="action-box">
									<img src="assets/images/event/pic4.jpg" alt="">
								</div>
								<div class="info-bx d-flex">
									<div>
										<div class="event-time">
											<div class="event-date">31</div>
											<div class="event-month">Octobre</div>
										</div>
									</div>
									<div class="event-info">
										<h4 class="event-title">
										<a href="#">
											Soutenir l’économie locale
										</a></h4>
										<ul class="media-post">
											<li><a href="#"><i class="fa fa-clock-o"></i> 7:00am 8:00am</a></li>
											<li><a href="#"><i class="fa fa-map-marker"></i> France</a></li>
										</ul>
										
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="event-bx">
								<div class="action-box">
									<img src="assets/images/event/pic3.jpg" alt="">
								</div>
								<div class="info-bx d-flex">
									<div>
										<div class="event-time">
											<div class="event-date">31</div>
											<div class="event-month">Octobre</div>
										</div>
									</div>
									<div class="event-info">
										<h4 class="event-title"><a href="#">Un impact social et humain fort</a></h4>
										<ul class="media-post">
											<li><a href="#"><i class="fa fa-clock-o"></i> 7:00am 8:00am</a></li>
											<li><a href="#"><i class="fa fa-map-marker"></i> France</a></li>
										</ul>
										
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="event-bx">
								<div class="action-box">
									<img src="assets/images/event/pic2.jpg" alt="">
								</div>
								<div class="info-bx d-flex">
									<div>
										<div class="event-time">
											<div class="event-date">30</div>
											<div class="event-month">Octobre</div>
										</div>
									</div>
									<div class="event-info">
										<h4 class="event-title"><a href="#">Un projet reconnu et soutenu</a></h4>
										<ul class="media-post">
											<li><a href="#"><i class="fa fa-clock-o"></i> 7:00am 8:00am</a></li>
											<li><a href="#"><i class="fa fa-map-marker"></i> Berlin, Germany</a></li>
										</ul>
										
									</div>
								</div>
							</div>
						</div>
					</div>
					</div>
					<div class="text-center">
						<a href="#" class="btn">Voir tous les menus</a>
					</div>
				</div>
			</div>
</div>
<!-- Our Story ==== --><div class="section-area section-sp1 our-story">
	<div class="container">
		<div class="row align-items-center d-flex">
			<div class="col-lg-5 col-md-12 heading-bx">
				<h2 class="m-b10">{% trans %}Une équipe jeune, audacieuse et pleine d’énergie ! {% endtrans %}
				</h2>
				<h5 class="fw4">
					{% trans %}La construction est en route malgré les obstacles{% endtrans %}
				</h5>
				<p style="margin-bottom: 10px;font-size: 14px;color: #242424;text-align: justify;">
					{% trans %}Chez FlexiFood, nous croyons qu’une entreprise responsable ne se contente pas de bien faire, elle fait le bien autour d’elle. Notre projet est né d’une conviction simple : réconcilier plaisir, durabilité et solidarité en donnant du sens à chaque repas.{% endtrans %}
				</p>
				<a href="#" class="btn">{% trans %}Lire la suite{% endtrans %}</a>
			</div>
			<div class="col-lg-7 col-md-12 heading-bx p-lr">
				<div class="video-bx">
					<img src="assets/video/fiangonana.png" alt=""/>
					<a href="assets/video/fiangonana.mp4" class="popup-youtube video">
						<i class="fa fa-play"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Our Story END ==== -->
<!-- Recent News -->
<div style="display:none" class="section-area section-sp2">
	<div class="container">
		<div class="row">
			<div class="col-md-12 heading-bx left">
				<strong class="title-head">{% trans %}Actualité le plus récent{% endtrans %}</strong>
				<p>{% trans %}Retrouvez toute l'actualité en direct, en photos et en vidéo ici{% endtrans %}</p>
			</div>
		</div>
		<div class="page-content bg-white">

			<div
				class="content-block">
				<!-- About Us -->
				<div class="section-area section-sp1">
					<div class="container">
						<div class="row">
							<div class="col-lg-3 col-md-4 col-sm-12 m-b30">
								<div class="profile-bx text-center">
									<div class="user-profile-thumb">
										<img src="assets/images/logo.png" alt=""/>
									</div>
									
									
								</div>
							</div>
							<div class="col-lg-6 col-md-8 col-sm-12 m-b30">
								<div class="profile-content-bx">
									<div class="tab-content">
										<div class="tab-pane active" id="courses">
											<div class="courses-filter">
												<div class="clearfix" id="post-recent">
													<ul id="masonry" style="list-style: none;" class="ttr-gallery-listing magnific-image row"></ul>
												</div>
											</div>
										</div>
										
										
										
									</div>
								</div>
							</div>
							

						</div>
					</div>
				</div>
			</div>
			<!-- contact area END -->
		</div>


		<!-- loading scroll -->

		<!-- end loading -->
	</div>
</div>
<!-- contact area -->
        <div class="content-block">
            <!-- Your Faq -->
            <div class="section-area section-sp1">
                <div class="container">
					<div class="row">
						<div class="col-lg-8 col-md-12">
							<div class="heading-bx left">
								<h2 class="m-b10 title-head">Notre  <span> mission</span></h2>
							</div>
							<p class="m-b10">Chez FlexiFood, nous avons une conviction simple : bien manger ne devrait jamais se faire au détriment de la planète.
Notre mission est de rendre l’alimentation durable accessible à tous, en alliant plaisir, technologie et responsabilité.</p>
							<p>Nous concevons des repas sains, locaux et zéro déchet, servis dans des box réutilisables et connectées.
Grâce à l’intelligence artificielle, nous adaptons chaque menu à vos besoins, tout en favorisant les circuits courts et la solidarité alimentaire.</p>
<p>Chaque box FlexiFood est une action concrète pour un monde plus durable, une alimentation plus juste et un quotidien plus simple.</p>
<p>FlexiFood, c’est l’alliance du goût, de l’innovation et de l’engagement.</p>
							
							
							
							<div class="ttr-accordion m-b30 faq-bx" id="accordion1">
								<div class="panel">
									<div class="acod-head">
										<h6 class="acod-title"> 
											<a data-toggle="collapse" href="#faq1" class="collapsed" data-parent="#faq1">
											Notre engagement local et sociétal</a> </h6>
									</div>
									<div id="faq1" class="acod-body collapse">
										<div class="acod-content">Chez FlexiFood, nous croyons qu’une entreprise responsable ne se contente pas de bien faire, elle fait le bien autour d’elle.
Notre projet est né d’une conviction simple : réconcilier plaisir, durabilité et solidarité en donnant du sens à chaque repas.
<br/>

									

</div>
									</div>
									
								</div>
								<div class="panel">
									<div class="acod-head">
										<h6 class="acod-title"> 
											<a data-toggle="collapse" href="#faq2" class="collapsed" data-parent="#faq2">
											Soutenir l’économie locale</a> </h6>
									</div>
									<div id="faq2" class="acod-body collapse">
										<div class="acod-content">
										Nous travaillons main dans la main avec des producteurs, artisans et partenaires de la région, convaincus que la richesse culinaire se trouve à deux pas de chez nous.
<br/>Chaque ingrédient, chaque emballage, chaque collaboration est pensée pour valoriser le savoir-faire alsacien et réduire notre empreinte carbone.
<br/>Nous favorisons les circuits courts, les matières premières locales et les fournisseurs engagés dans une démarche écoresponsable.
<br/>Du champ à la box, chaque maillon de la chaîne participe à une économie plus circulaire et plus juste.


										</div>
									</div>
								</div>
								<div class="panel">
									<div class="acod-head">
										<h6 class="acod-title"> 
											<a data-toggle="collapse"  href="#faq3" class="collapsed"  data-parent="#faq3">
											Un impact social et humain fort </a> </h6>
									</div>
									<div id="faq3" class="acod-body collapse">
										<div class="acod-content">FlexiFood, c’est aussi une aventure collective qui place l’humain au centre.
<br/>Nous collaborons avec des structures inclusives comme les ESAT pour certaines étapes de production et de décoration de nos box, afin de favoriser l’insertion professionnelle des personnes en situation de handicap.
<br/>Cette approche solidaire fait partie intégrante de notre identité : consommer FlexiFood, c’est soutenir une chaîne de valeurs humaines et responsables.

</div>
									</div>
								</div>
								<div class="panel">
									<div class="acod-head">
										<h6 class="acod-title"> 
											<a data-toggle="collapse"  href="#faq4" class="collapsed"  data-parent="#faq4">
											Un projet reconnu et soutenu </a> </h6>
									</div>
									<div id="faq4" class="acod-body collapse">
										<div class="acod-content">
										Notre engagement a été reconnu par l’Agence de Développement ADIRA, qui nous a décerné le label “À Cœur” — une distinction attribuée aux initiatives régionales porteuses de sens, d’innovation et de valeurs humaines fortes.
<br/>Ce label symbolise notre fierté d’être un acteur du changement en Alsace, et notre volonté de prouver qu’innovation et responsabilité peuvent aller de pair.</div>
<br/>💬 « Recevoir le label À Cœur, c’est une reconnaissance de notre vision : celle d’une restauration durable, locale et solidaire, portée par la nouvelle génération. »
									</div>
								</div>
								<div class="panel">
									<div class="acod-head">
										<h6 class="acod-title"> 
											<a data-toggle="collapse"  href="#faq5" class="collapsed"  data-parent="#faq5">
											Agir aujourd’hui pour demain </a> </h6>
									</div>
									<div id="faq5" class="acod-body collapse">
										<div class="acod-content">
										Notre démarche ne s’arrête pas à la cuisine : elle s’inscrit dans une logique globale de transition écologique et sociétale.
<br/>Réduction des déchets, logistique responsable, traçabilité par QR code, box réutilisables… chaque détail compte.
<br/>Nous voulons inspirer d’autres jeunes, d’autres entreprises, à construire un modèle d’alimentation plus respectueux, plus local et plus humain.
<br/>FlexiFood, c’est la preuve qu’un repas peut nourrir bien plus que le corps : il peut nourrir la société, l’emploi local et la planète. 
										</div>
									</div>
								</div>
							</div>
						</div>
							
						<div class="col-lg-4 col-md-12">
							<form class="contact-bx dzForm" action="">
							<div class="dzFormMsg"></div>
								<div class="heading-bx left">
									<h2 class="title-head">Prenez <span>Contact</span></h2>
								</div>
								<div class="row placeani">
									<div class="col-lg-6 ">
										<div class="form-group">
											<div class="input-group">
												<label>Votre nom</label>
												<input name="dzName" type="text" required class="form-control">
											</div>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="form-group">
											<div class="input-group"> 
												<label>Email</label>
												<input name="dzEmail" type="email" class="form-control" required >
											</div>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="form-group">
											<div class="input-group">
												<label>Téléphone</label>
												<input name="dzOther[Phone]" type="text" required class="form-control">
											</div>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="form-group">
											<div class="input-group">
												<label>Sujet</label>
												<input name="dzOther[Subject]" type="text" required class="form-control">
											</div>
										</div>
									</div>
									<div class="col-lg-12">
										<div class="form-group">
											<div class="input-group">
												<label>Message</label>
												<textarea name="dzMessage" rows="4" class="form-control" required ></textarea>
											</div>
										</div>
									</div>
									<div class="col-lg-12">
										<div class="form-group">
											<div class="input-group">
												<div class="g-recaptcha" data-sitekey="6LefsVUUAAAAADBPsLZzsNnETChealv6PYGzv3ZN" data-callback="verifyRecaptchaCallback" data-expired-callback="expiredRecaptchaCallback"></div>
												<input class="form-control d-none" style="display:none;" data-recaptcha="true" required data-error="Please complete the Captcha">
											</div>
										</div>
									</div>
									<div class="col-lg-12">
										<button name="submit" type="submit" value="Submit" class="btn button-md"> Envoyer</button>
									</div>
								</div>
							</form>
						</div>
					</div>
					
                </div>
            </div>
            <!-- Your Faq End -->
        </div>
		<!-- contact area END -->
			
			
        </div>
		<!-- contact area END -->
    </div>
    <!-- Content END-->
	<!-- Footer ==== -->
    <footer>
        <div class="footer-top">
			<div class="pt-exebar">
				
			</div>
            <div class="container">
                <div class="row">
					

					<div class="col-12 col-lg-3 col-md-4 col-sm-12 footer-col-4">
                        <h5 class="footer-title">Adresse</h5>
						<p class="text-capitalize m-b20">Adresse: 5 Rue De La Gare <br/> 68000 Colmar <br/> Haut-rhin, France</p>
                    </div>
					<div class="col-12 col-lg-3 col-md-4 col-sm-12 footer-col-4">
		<h5 class="footer-title">Itinéraire vers notre adresse :</h5>
			
<iframe
  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2707.5352052644736!2d7.353708315786856!3d48.07735317922368!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4790b78e3c7f020f%3A0x2ff16cb7e1012997!2s5%20Rue%20de%20la%20Gare%205%2C%2068000%20Colmar%2C%20France!5e0!3m2!1sfr!2sfr!4v1698598230000!5m2!1sfr!2sfr"
  width="500"
  height="250"
  style="border:0;"
  allowfullscreen=""
  loading="lazy"
  referrerpolicy="no-referrer-when-downgrade">
</iframe>
</div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 text-center"> <a href="#">Tous droits réservés © FlexiFood 2025</a></div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer END ==== -->
    <button class="back-to-top fa fa-chevron-up" ></button>
</div>
<!-- Recent News End -->{% endblock %}{% block javascripts %}
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v18.0&appId=1637705346456944" nonce="IfS95kSa"></script>

<script src=" {{ asset ('js/comments/commentsManager.js') }}" defer></script>
<script>
	jQuery(document).ready(function () {
var ttrevapi;
var tpj = jQuery;
if (tpj("#rev_slider_486_1").revolution == undefined) {
revslider_showDoubleJqueryError("#rev_slider_486_1");
} else {
ttrevapi = tpj("#rev_slider_486_1").show().revolution({
sliderType: "standard",
jsFileLocation: "assets/vendors/revolution/js/",
sliderLayout: "fullwidth",
dottedOverlay: "none",
delay: 9000,
navigation: {
keyboardNavigation: "on",
keyboard_direction: "horizontal",
mouseScrollNavigation: "off",
mouseScrollReverse: "default",
onHoverStop: "on",
touch: {
touchenabled: "on",
swipe_threshold: 75,
swipe_min_touches: 1,
swipe_direction: "horizontal",
drag_block_vertical: false
},
arrows: {
style: "uranus",
enable: true,
hide_onmobile: false,
hide_onleave: false,
tmp: '',
left: {
h_align: "left",
v_align: "center",
h_offset: 10,
v_offset: 0
},
right: {
h_align: "right",
v_align: "center",
h_offset: 10,
v_offset: 0
}
}

},
viewPort: {
enable: true,
outof: "pause",
visible_area: "80%",
presize: false
},
responsiveLevels: [
1240, 1024, 778, 480
],
visibilityLevels: [
1240, 1024, 778, 480
],
gridwidth: [
1240, 1024, 778, 480
],
gridheight: [
768, 600, 600, 600
],
lazyType: "none",
parallax: {
type: "scroll",
origo: "enterpoint",
speed: 400,
levels: [
5,
10,
15,
20,
25,
30,
35,
40,
45,
50,
46,
47,
48,
49,
50,
55
],
type: "scroll"
},
shadow: 0,
spinner: "off",
stopLoop: "off",
stopAfterLoops: -1,
stopAtSlide: -1,
shuffle: "off",
autoHeight: "off",
hideThumbsOnMobile: "off",
hideSliderAtLimit: 0,
hideCaptionAtLimit: 0,
hideAllCaptionAtLilmit: 0,
debugMode: false,
fallbacks: {
simplifyAll: "off",
nextSlideOnWindowFocus: "off",
disableFocusListener: false
}
});
}

let articlesPop = '{{ array_populaire_js|e('js')|raw }}'
Article.articlesPopulaires = JSON.parse(articlesPop)
Article.clickToshowArticlePopulaire()

});
</script>
<script src="{{ asset('js/infinityScroll/articleRecentInfinityScroll.js')}}" defer></script>{# <script src="{{ asset('js/infinityScroll/articlePopulaireInfinityScroll.js')}}" defer></script> #}{% endblock %}
