{% extends 'base.html.twig' %}

{% block title %}Apokalypsy
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	<style>
		.sticky-top {
			height: "150px";
			overflow-y: auto;
		}
	</style>
{% endblock %}

{% block body %}

	<!-- Our Services -->
	<div class="section-area content-inner service-info-bx">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-6">
					<div class="service-bx">
						<div class="action-box">
							<img src="assets/images/blog/latest-blog/pic1.jpg" alt="">
						</div>
						<div class="info-bx text-center">
							<div class="feature-box-sm radius bg-white">
								<i class="fa fa-eye text-primary pulse-button2" style="border-radius: 50%;"></i>
								<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill badge-danger">
									15+
								</span>
							</div>
							<h4>
								<a href="{{ path ('app_static_apocalypse_et_la_prophetie') }}">{% trans %}L'apocalypse et la prophétie du jour{% endtrans %}</a>
							</h4>
							<a href="{{ path ('app_static_apocalypse_et_la_prophetie') }}" class="btn radius-xl">
								<i class="fa fa-eye"></i>
								{% trans %}Lire{% endtrans %}</a>

						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6">
					<div class="service-bx">
						<div class="action-box">
							<img src="assets/images/blog/latest-blog/pic2.jpg" alt="">
						</div>
						<div class="info-bx text-center">
							<div class="feature-box-sm radius bg-white">
								<i class="fa fa-bank text-primary"></i>
							</div>
							<h4>
								<a href="{{ path ('app_static_a_propos') }}">{% trans %}A propos de l'Eglise Apokalypsy{% endtrans %}</a>
							</h4>
							<a href="{{ path ('app_static_a_propos') }}" class="btn radius-xl">
								<i class="fa fa-eye"></i>
								{% trans %}Lire{% endtrans %}</a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-12">
					<div class="service-bx m-b0">
						<div class="action-box">
							<img src="assets/images/blog/latest-blog/pic3.jpg" alt="">
						</div>
						<div class="info-bx text-center">
							<div class="feature-box-sm radius bg-white">
								<i class="fa fa-book text-primary"></i>
							</div>
							<h4>
								<a href="{{ path ('app_static_livre-apokalypsy') }}">{% trans %}Etude du livre de l'apokalypsy{% endtrans %}
								</a>
							</h4>
							<a href="{{ path ('app_static_livre-apokalypsy') }}" class="btn radius-xl">
								<i class="fa fa-eye"></i>
								{% trans %}Lire{% endtrans %}</a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-12">
					<div class="service-bx m-b0">
						<div class="action-box">
							<img src="assets/images/blog/latest-blog/pic4.jpg" alt="">
						</div>
						<div class="info-bx text-center">
							<div class="feature-box-sm radius bg-white">
								<i class="fa fa-podcast text-primary"></i>
								<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill badge-danger">
									3+
								</span>
							</div>
							<h4>
								<a href="{{ path ('app_static_radio') }}">RFA Radio fanambarana</a>
							</h4>
							<a class="btn radius-xl" href="{{ path ('app_static_radio') }}">
								<i class="fa fa-eye"></i>
								{% trans %}Lire{% endtrans %}</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<br/><br/>
	<!-- Breadcrumb row END -->
	<div class="content-block">
		{% if populaire_recent %}

			<div class="section-area section-sp1">
				<div class="container">
					<div class="row">
						<div class="row">
							<div id="crolltou" class="col-md-12 heading-bx left">
								<h2 class="title-head">{% trans %}Actualités{% endtrans %}
								</h2>
								<p>{% trans %}Retrouvez toute l'actualité en direct, en photos et en vidéo ici{% endtrans %}</p>
								<strong class="title-head">{% trans %}Actualité le plus populaire{% endtrans %}</strong>
							</div>
						</div>
						<!-- Left part start -->
						<div
							class="col-lg-8 col-xl-8">
							<!-- blog start -->
							<div class="recent-news blog-lg">
								<div class="action-box blog-lg" id="image_article_populaire">
									<img src="" alt="">
								</div>
								<div class="info-bx">
									<ul class="media-post">
										<li>
											<a href="#" id="date_populaire_post">
												<i class="fa fa-calendar"></i>
												{{ populaire_recent.updatedAt|date("M-d-Y") }}</a>
										</li>
										<li>
											{# + '<a href="#" class="comments-bx comments" id="' + article.id_article + '" data-toggle="modal" data-target="#comments">' + nb_comments + ' commentaires</a>' #}
											<a href="#" class="comments-bx comments post-populaire" id="{{ populaire_recent.getId() }}" data-toggle="modal" data-target="#comments" id=" {{ populaire_recent.id }} " data-date=" {{ populaire_recent.updatedAt|date(" m-d-y") }} " data-titre=" {{ populaire_recent.titre }} " data-commentaire=" {{ populaire_recent.commentaire }} " data-image="article/{{ populaire_recent.image }} " data-auteur=" {{ populaire_recent.user.nom ? populaire_recent.user.nom ~' '~ populaire_recent.user.prenom: populaire_recent.user.username }} ">
												<i class="fa fa-comments-o"></i>
												{{ populaire_recent.comments|length }}
												Commentaire
											</a>
										</li>
									</ul>
									<div class="widget widget_gallery gallery-grid-4">
										<h6 class="widget-title">{% trans %}Galery{% endtrans %}
										</h6>
										<ul class="magnific-image galerie-post">
											{% for gal in populaire_recent.galerie %}
												<li>
													<a href="{{ asset('galerie/'~ gal.nomImage) }}" class="magnific-anchor"><img src={{ asset('galerie/'~ gal.nomImage) }} alt=""></a>
												</li>
											{% endfor %}
										</ul>
									</div>

									<h5 class="post-title" id="titre_article_populaire">
										<a href="#">Loading ...</a>
									</h5>
									<div id="comment_article_populaire"></div>
								</div>
							</div>
							<!-- blog END -->
						</div>
						<!-- Left part END -->
						<!-- Side bar start -->
						<div class="col-lg-4 col-xl-4">
							<aside class="side-bar sticky-top" id="scroll-container-populaire">
								<div class="widget recent-posts-entry" id="populaire-post-container">
									<h6 class="widget-title">{% trans %}Recent Posts{% endtrans %}</h6>
									{# {{ dump (populaires)}} #}

									{% for populaire in populaires %}
										{% set image = 'article/'~ populaire.image %}
										{% set date = populaire.updatedAt|date('d M Y') %}
										{% set titre = populaire.titre %}
										{% set commentaire = populaire.commentaire %}
										{% set auteur = populaire.user.nom ? populaire.user.nom ~' '~ populaire.user.prenom: populaire.user.username %}
										{# {% set galerie = value %} #}


										<div class="widget-post clearfix item-post-populaire" id="{{ populaire.id }}">
											<div class="ttr-post-media">
												<img src="{{ asset(image) }}" width="200" height="143" alt="Loading...">
											</div>
											<div class="ttr-post-info">
												<div class="ttr-post-header">
													<h6 class="post-title" id="{{ populaire.id }}">
														<a href="" class="article-populaire" id="{{ populaire.id }}">{{ titre }}</a>
													</h6>
												</div>
												<ul class="media-post">
													<li>
														<a href="#">
															<i class="fa fa-calendar"></i>
															{{ date }}</a>
													</li>
													<li>
														<a href="#" class="show-dialog comments post-populaire" data-toggle="modal" data-target="#comments" id="{{ populaire.id }}" data-date="{{ date }}" data-titre="{{ titre }}" data-commentaire="{{ commentaire }}" data-image="{{ image }}" data-auteur="{{ auteur }}">
															<i class="fa fa-comments-o"></i>
															{{ populaire.comments|length }}
															Commentaire
														</a>
													</li>
												</ul>
											</div>
										</div>

									{% endfor %}
								</div>
							</aside>
						</div>


						<!-- Side bar END -->
					</div>
				</div>
				<div class="text-center">
					<a href="{{ path ("app_article_by_categorie", {'type': 'Populaire'}) }}" class="btn view-all-event">Voir tous les Actualité populaire</a>
				</div>
				<!-- Our Services END -->
			</div>
		{% else %}
			<div class="text-center">
				<p class="text-danger">
					<i class="fa fa-info-circle"></i>
					{% trans %}
					Aucune article populaire pour le moment{% endtrans %}</p>
			</div>
		{% endif %}
	</div>


	<div class="section-area section-sp2">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center heading-bx">
					<h2 class="title-head m-b0">{% trans %}Calendrier{% endtrans %}
						<span>{% trans %}d'évènements{% endtrans %}</span>
					</h2>
					<p class="m-b0">{% trans %}Maintenant et après.{% endtrans %}
					</p>
				</div>
			</div>

			<div class="row event-list">
				<div class="upcoming-event-carousel owl-carousel owl-btn-center-lr owl-btn-1 col-12 p-lr0  m-b30 ">
					{% for calendrier in calendriers %}
						{% set classParag = "overflow: hidden;display: -webkit-box;-webkit-line-clamp: 2;line-clamp: 2;-webkit-box-orient: vertical;" %}
						{% if loop.index % 2 == 0 %}
							{% set classParag = "" %}
						{% endif %}
						{% set image = 'article/'~ calendrier.image %}
						{# {% set date = calendrier.updatedAt|date('d M Y') %} #}
						{% set titre = calendrier.titre %}
						{% set dayEvent = calendrier.eventAt|date('d') %}
						{% set monthEvent = calendrier.eventAt|date('F') %}
						{% set hoursEvent = calendrier.eventAt|date('H:i') %}
						<div class="item">
							<div class="event-bx">
								<div class="action-box">
									<img src="{{ asset (image) }}" alt="photo">
								</div>
								<div class="info-bx d-flex">
									<div>
										<div class="event-time">
											<div class="event-date">{{ dayEvent }}</div>
											<div class="event-month">{{ monthEvent }}</div>
										</div>
									</div>

									<div class="event-info">
										<h4 class="event-title">
											<a href="#">
												{{ titre }}
											</a>
										</h4>
										<ul class="media-post">
											<li>
												<a href="#">
													<i class="fa fa-clock-o"></i>
													{{ hoursEvent }}</a>
											</li>
											<li>
												<a href="#">
													<i class="fa fa-map-marker"></i>
													Antananarivo</a>
											</li>
										</ul>
										<p style="{{ classParag }}">
											loading
										</p>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>

			</div>
		</div>
		<div class="text-center">
			<a href=" {{ path ('app_article_by_categorie', {'type':'Calendrier d\'évènement'}) }}" class="btn view-all-event">Voir tous les évènements</a>
		</div>
	</div>
</div><!-- Our Story ==== --><div class="section-area section-sp1 our-story">
	<div class="container">
		<div class="row align-items-center d-flex">
			<div class="col-lg-5 col-md-12 heading-bx">
				<h2 class="m-b10">{% trans %}La plus grande Église d’Afrique{% endtrans %}
				</h2>
				<h5 class="fw4">
					{% trans %}La construction est en route malgré les obstacles{% endtrans %}
				</h5>
				<p style="margin-bottom: 10px;font-size: 14px;color: #242424;text-align: justify;">
					{% trans %}L’année 2016 est une année charnière dans l’histoire de FAM (Fiangonana Apokalypsy eto Madagasikara). C’est celle où la construction de l’Église centrale à Ambohimarina a été lancée. Avec ses 137 m de longueur et ses 75 m de largeur, ce temple sera sans doute la plus grande d’Afrique selon le Pasteur Mailhol, le fondateur international de l’Église Apocalypse. D’un côté, l’édifice se dresse sur trois étages divisés en plusieurs secteurs. Il constitue l’église centrale qui peut accueillir jusqu’à 300 000 fidèles tous les sabbats. De l’autre côté, de grands bâtiments abritent le centre administratif de l’église. Ils comprennent notamment les bureaux du Conseil d’Administration, ainsi que les projets d’expansion de l’église, la GTV (Gasy TV), le site web Apokalypsy, etc.{% endtrans %}
				</p>
				<a href="#" class="btn">{% trans %}Lire la suite{% endtrans %}</a>
			</div>
			<div class="col-lg-7 col-md-12 heading-bx p-lr">
				<div class="video-bx">
					<img src="assets/video/fiangonana.png" alt=""/>
					<a href="assets/video/fiangonana.mp4" class="popup-youtube video">
						<i class="fa fa-play"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</div><!-- Our Story END ==== --><!-- Recent News --><div class="section-area section-sp2">
	<div class="container">
		<div class="row">
			<div class="col-md-12 heading-bx left">
				<strong class="title-head">{% trans %}Actualité le plus récent{% endtrans %}</strong>
				<p>{% trans %}Retrouvez toute l'actualité en direct, en photos et en vidéo ici{% endtrans %}</p>
			</div>
		</div>
		<div class="page-content bg-white">

			<div
				class="content-block">
				<!-- About Us -->
				<div class="section-area section-sp1">
					<div class="container">
						<div class="row">
							<div class="col-lg-3 col-md-4 col-sm-12 m-b30">
								<div class="profile-bx text-center">
									<div class="user-profile-thumb">
										<img src="assets/images/logo.png" alt=""/>
									</div>
									<div class="profile-info">
										<h4>{% trans %}Contact{% endtrans %}</h4>
										<p>
											<strong>{% trans %}Adresse:{% endtrans %}</strong>
											IVO 69 b Bis Antohomadinika Atsimo
										</p><br/>
										<p>Antananarivo 101 – BP 7562
										</p><br/>
										<p>
											<strong>Tél.</strong>
											(+261) 22 657 87
											<br/>
											032 02 029 56
											<br/>
											033 14 064 70
											<br/>
											034 01 745 13
										</p><br/>
										<p>
											<strong>Mail:</strong>
											contact[at]apocalypse-mada.com
										</p>
									</div>
									<div class="profile-social">
										<ul class="list-inline m-a0">
											<li>
												<a href="#">
													<i class="fa fa-facebook"></i>
												</a>
											</li>
											<li>
												<a href="#">
													<i class="fa fa-twitter"></i>
												</a>
											</li>
											<li>
												<a href="#">
													<i class="fa fa-linkedin"></i>
												</a>
											</li>
											<li>
												<a href="#">
													<i class="fa fa-google-plus"></i>
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-8 col-sm-12 m-b30">
								<div class="profile-content-bx">
									<div class="tab-content">
										<div class="tab-pane active" id="courses">
											<div class="courses-filter">
												<div class="clearfix" id="post-recent">
													<ul id="masonry" style="list-style: none;" class="ttr-gallery-listing magnific-image row"></ul>
												</div>
											</div>
										</div>
										<div class="tab-pane" id="quiz-results">
											<div class="profile-head">
												<h3>{% trans %}Quiz Results{% endtrans %}</h3>
											</div>
											<div class="courses-filter">
												<div class="row">
													<div class="col-md-6 col-lg-6">
														<ul class="course-features">
															<li>
																<i class="ti-book"></i>
																<span class="label">{% trans %}Lectures{% endtrans %}</span>
																<span class="value">8</span>
															</li>
															<li>
																<i class="ti-help-alt"></i>
																<span class="label">{% trans %}Quizzes{% endtrans %}</span>
																<span class="value">1</span>
															</li>
															<li>
																<i class="ti-time"></i>
																<span class="label">{% trans %}Duration{% endtrans %}</span>
																<span class="value">{% trans %}60 hours{% endtrans %}</span>
															</li>
															<li>
																<i class="ti-stats-up"></i>
																<span class="label">{% trans %}Skill level{% endtrans %}</span>
																<span class="value">{% trans %}Beginner{% endtrans %}</span>
															</li>
															<li>
																<i class="ti-smallcap"></i>
																<span class="label">{% trans %}Language{% endtrans %}
																</span>
																<span class="value">{% trans %}English{% endtrans %}</span>
															</li>
															<li>
																<i class="ti-user"></i>
																<span class="label">{% trans %}Students{% endtrans %}</span>
																<span class="value">32</span>
															</li>
															<li>
																<i class="ti-check-box"></i>
																<span class="label">{% trans %}Assessments{% endtrans %}</span>
																<span class="value">{% trans %}Yes{% endtrans %}</span>
															</li>
														</ul>
													</div>
													<div class="col-md-6 col-lg-6">
														<ul class="course-features">
															<li>
																<i class="ti-book"></i>
																<span class="label">{% trans %}Lectures{% endtrans %}</span>
																<span class="value">8</span>
															</li>
															<li>
																<i class="ti-help-alt"></i>
																<span class="label">{% trans %}Quizzes{% endtrans %}</span>
																<span class="value">1</span>
															</li>
															<li>
																<i class="ti-time"></i>
																<span class="label">{% trans %}Duration{% endtrans %}</span>
																<span class="value">{% trans %}60 hours{% endtrans %}</span>
															</li>
															<li>
																<i class="ti-stats-up"></i>
																<span class="label">{% trans %}Skill level{% endtrans %}</span>
																<span class="value">{% trans %}Beginner{% endtrans %}</span>
															</li>
															<li>
																<i class="ti-smallcap"></i>
																<span class="label">{% trans %}Language{% endtrans %}
																</span>
																<span class="value">{% trans %}English{% endtrans %}</span>
															</li>
															<li>
																<i class="ti-user"></i>
																<span class="label">{% trans %}Students{% endtrans %}</span>
																<span class="value">32</span>
															</li>
															<li>
																<i class="ti-check-box"></i>
																<span class="label">{% trans %}Assessments{% endtrans %}</span>
																<span class="value">{% trans %}Yes{% endtrans %}</span>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
										<div class="tab-pane" id="edit-profile">
											<div class="profile-head">
												<h3>Edit Profile</h3>
											</div>
											<form class="edit-profile">
												<div class="">
													<div class="form-group row">
														<div class="col-12 col-sm-9 col-md-9 col-lg-10 ml-auto">
															<h3>1. Personal Details</h3>
														</div>
													</div>
													<div class="form-group row">
														<label class="col-12 col-sm-3 col-md-3 col-lg-2 col-form-label">Full Name</label>
														<div class="col-12 col-sm-9 col-md-9 col-lg-7">
															<input class="form-control" type="text" value="Mark Andre">
														</div>
													</div>
													<div class="form-group row">
														<label class="col-12 col-sm-3 col-md-3 col-lg-2 col-form-label">Occupation</label>
														<div class="col-12 col-sm-9 col-md-9 col-lg-7">
															<input class="form-control" type="text" value="CTO">
														</div>
													</div>
													<div class="form-group row">
														<label class="col-12 col-sm-3 col-md-3 col-lg-2 col-form-label">Company Name</label>
														<div class="col-12 col-sm-9 col-md-9 col-lg-7">
															<input class="form-control" type="text" value="EduChamp">
															<span class="help">If you want your invoices addressed to a company. Leave blank to use your full name.</span>
														</div>
													</div>
													<div class="form-group row">
														<label class="col-12 col-sm-3 col-md-3 col-lg-2 col-form-label">Phone No.</label>
														<div class="col-12 col-sm-9 col-md-9 col-lg-7">
															<input class="form-control" type="text" value="+120 012345 6789">
														</div>
													</div>

													<div class="seperator"></div>

													<div class="form-group row">
														<div class="col-12 col-sm-9 col-md-9 col-lg-10 ml-auto">
															<h3>2. Address</h3>
														</div>
													</div>
													<div class="form-group row">
														<label class="col-12 col-sm-3 col-md-3 col-lg-2 col-form-label">Address</label>
														<div class="col-12 col-sm-9 col-md-9 col-lg-7">
															<input class="form-control" type="text" value="5-S2-20 Dummy City, UK">
														</div>
													</div>
													<div class="form-group row">
														<label class="col-12 col-sm-3 col-md-3 col-lg-2 col-form-label">City</label>
														<div class="col-12 col-sm-9 col-md-9 col-lg-7">
															<input class="form-control" type="text" value="US">
														</div>
													</div>
													<div class="form-group row">
														<label class="col-12 col-sm-3 col-md-3 col-lg-2 col-form-label">State</label>
														<div class="col-12 col-sm-9 col-md-9 col-lg-7">
															<input class="form-control" type="text" value="California">
														</div>
													</div>
													<div class="form-group row">
														<label class="col-12 col-sm-3 col-md-3 col-lg-2 col-form-label">Postcode</label>
														<div class="col-12 col-sm-9 col-md-9 col-lg-7">
															<input class="form-control" type="text" value="000702">
														</div>
													</div>

													<div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"></div>

													<div class="form-group row">
														<div class="col-12 col-sm-9 col-md-9 col-lg-10 ml-auto">
															<h3 class="m-form__section">3. Social Links</h3>
														</div>
													</div>

													<div class="form-group row">
														<label class="col-12 col-sm-3 col-md-3 col-lg-2 col-form-label">Linkedin</label>
														<div class="col-12 col-sm-9 col-md-9 col-lg-7">
															<input class="form-control" type="text" value="www.linkedin.com">
														</div>
													</div>
													<div class="form-group row">
														<label class="col-12 col-sm-3 col-md-3 col-lg-2 col-form-label">Facebook</label>
														<div class="col-12 col-sm-9 col-md-9 col-lg-7">
															<input class="form-control" type="text" value="www.facebook.com">
														</div>
													</div>
													<div class="form-group row">
														<label class="col-12 col-sm-3 col-md-3 col-lg-2 col-form-label">Twitter</label>
														<div class="col-12 col-sm-9 col-md-9 col-lg-7">
															<input class="form-control" type="text" value="www.twitter.com">
														</div>
													</div>
													<div class="form-group row">
														<label class="col-12 col-sm-3 col-md-3 col-lg-2 col-form-label">Instagram</label>
														<div class="col-12 col-sm-9 col-md-9 col-lg-7">
															<input class="form-control" type="text" value="www.instagram.com">
														</div>
													</div>
												</div>
												<div class="">
													<div class="">
														<div class="row">
															<div class="col-12 col-sm-3 col-md-3 col-lg-2"></div>
															<div class="col-12 col-sm-9 col-md-9 col-lg-7">
																<button type="reset" class="btn">Save changes</button>
																<button type="reset" class="btn-secondry">Cancel</button>
															</div>
														</div>
													</div>
												</div>
											</form>
										</div>
										<div class="tab-pane" id="change-password">
											<div class="profile-head">
												<h3>Change Password</h3>
											</div>
											<form class="edit-profile">
												<div class="">
													<div class="form-group row">
														<div class="col-12 col-sm-8 col-md-8 col-lg-9 ml-auto">
															<h3>Password</h3>
														</div>
													</div>
													<div class="form-group row">
														<label class="col-12 col-sm-4 col-md-4 col-lg-3 col-form-label">Current Password</label>
														<div class="col-12 col-sm-8 col-md-8 col-lg-7">
															<input class="form-control" type="password" value="">
														</div>
													</div>
													<div class="form-group row">
														<label class="col-12 col-sm-4 col-md-4 col-lg-3 col-form-label">New Password</label>
														<div class="col-12 col-sm-8 col-md-8 col-lg-7">
															<input class="form-control" type="password" value="">
														</div>
													</div>
													<div class="form-group row">
														<label class="col-12 col-sm-4 col-md-4 col-lg-3 col-form-label">Re Type New Password</label>
														<div class="col-12 col-sm-8 col-md-8 col-lg-7">
															<input class="form-control" type="password" value="">
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-12 col-sm-4 col-md-4 col-lg-3"></div>
													<div class="col-12 col-sm-8 col-md-8 col-lg-7">
														<button type="reset" class="btn">Save changes</button>
														<button type="reset" class="btn-secondry">Cancel</button>
													</div>
												</div>

											</form>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-4 col-sm-12 m-b30">
								<div class="profile-bx text-center">
									<div class="user-profile-thumb">
										<img src="assets/images/icon/icon1.jpg" alt=""/>
									</div>
									<div class="profile-info">
										<h4>RFA Radio fanambarana</h4>
										<p>98.4 FM</p>

									</div>
									<div class="user-profile-thumb">
										<img src="assets/images/oliva_ambohimarina.jpg" alt=""/>
									</div>
									<div class="profile-info">
										<h4>Tanora Oliva</h4>
										<p>Mail: olivareztana@gmail.com</p>

									</div>
								</div>

							</div>

						</div>
					</div>
				</div>
			</div>
			<!-- contact area END -->
		</div>


		<!-- loading scroll -->

		<!-- end loading -->
	</div>
</div><!-- Recent News End -->{% endblock %}{% block javascripts %}
<script src=" {{ asset ('js/comments/commentsManager.js') }}" defer></script>
<script>
	jQuery(document).ready(function () {
var ttrevapi;
var tpj = jQuery;
if (tpj("#rev_slider_486_1").revolution == undefined) {
revslider_showDoubleJqueryError("#rev_slider_486_1");
} else {
ttrevapi = tpj("#rev_slider_486_1").show().revolution({
sliderType: "standard",
jsFileLocation: "assets/vendors/revolution/js/",
sliderLayout: "fullwidth",
dottedOverlay: "none",
delay: 9000,
navigation: {
keyboardNavigation: "on",
keyboard_direction: "horizontal",
mouseScrollNavigation: "off",
mouseScrollReverse: "default",
onHoverStop: "on",
touch: {
touchenabled: "on",
swipe_threshold: 75,
swipe_min_touches: 1,
swipe_direction: "horizontal",
drag_block_vertical: false
},
arrows: {
style: "uranus",
enable: true,
hide_onmobile: false,
hide_onleave: false,
tmp: '',
left: {
h_align: "left",
v_align: "center",
h_offset: 10,
v_offset: 0
},
right: {
h_align: "right",
v_align: "center",
h_offset: 10,
v_offset: 0
}
}

},
viewPort: {
enable: true,
outof: "pause",
visible_area: "80%",
presize: false
},
responsiveLevels: [
1240, 1024, 778, 480
],
visibilityLevels: [
1240, 1024, 778, 480
],
gridwidth: [
1240, 1024, 778, 480
],
gridheight: [
768, 600, 600, 600
],
lazyType: "none",
parallax: {
type: "scroll",
origo: "enterpoint",
speed: 400,
levels: [
5,
10,
15,
20,
25,
30,
35,
40,
45,
50,
46,
47,
48,
49,
50,
55
],
type: "scroll"
},
shadow: 0,
spinner: "off",
stopLoop: "off",
stopAfterLoops: -1,
stopAtSlide: -1,
shuffle: "off",
autoHeight: "off",
hideThumbsOnMobile: "off",
hideSliderAtLimit: 0,
hideCaptionAtLimit: 0,
hideAllCaptionAtLilmit: 0,
debugMode: false,
fallbacks: {
simplifyAll: "off",
nextSlideOnWindowFocus: "off",
disableFocusListener: false
}
});
}

let articlesPop = '{{ array_populaire_js|e('js')|raw }}'
Article.articlesPopulaires = JSON.parse(articlesPop)
Article.clickToshowArticlePopulaire()

});
</script>
<script src="{{ asset('js/infinityScroll/articleRecentInfinityScroll.js')}}" defer></script>{# <script src="{{ asset('js/infinityScroll/articlePopulaireInfinityScroll.js')}}" defer></script> #}{% endblock %}
