{% extends 'base.html.twig' %}

{% block title %}Apokalpsy - A propos
{% endblock %}
{% block stylesheets %}{% endblock %}

{% block body %}
<!-- Content -->
<div class="page-content bg-white">
        <!-- Breadcrumb row -->
    <div class="breadcrumb-row">
        <div class="container">
            <ul class="list-inline">
                <li><a href="{{ path ('app_home') }}">Home</a></li>
                <li>A propos</li>
            </ul>
        </div>
    </div>
    <!-- Breadcrumb row END -->
    <!-- contact area -->
     <div class="content-block">
        <div class="section-area section-sp1">
            <div class="container">
                <div class="row">
                    <!-- Left part start -->
                    <div class="col-lg-12">
                        <h5 class="post-title"><a href="#">Liturgie de l'église Apokalypsy</a></h5>
                                <p style="margin-bottom: 10px;font-size: 14px;color: #242424;">
                                Tous les sabbats, le culte de l’Église Apocalypse Internationale se déroule en deux temps :<br/>
                                - Une première messe en matinée de 9 h 30 à 12 h 30 ;<br/>
                                - Une seconde messe l’après-midi de 14 h 30 à 16 h 30.
                                </p>
                        <div class="blog-post blog-md clearfix">
                            <div class="ttr-post-media"> 
                                <a href="#"><img src="{{ asset ('assets/images/blog/grid/pic5.jpg') }}" alt=""></a> 
                            </div>
                            <div class="ttr-post-info">
                                <ul class="media-post">
                                    <li><a href="#"><i class="fa fa-calendar"></i>08 Mars 2023</a></li>
                                    <li><a href="#"><i class="fa fa-user"></i>Par Cynthia</a></li>
                                </ul>
                                <h5 class="post-title">Culte</h5>
                                <p>
                                    À noter que les fidèles ne s’assoient pas sur une chaise. Ils recouvrent le carreau d’un linge ou d’un drap spécial appelé « lafika » en malgache et prient à même le sol.
                                </p>
                                
                                <div class="post-extra">
                                    <a href="#" class="comments-bx"><i class="fa fa-comments-o"></i>05 commentaires</a>
                                </div>
                            </div>
                        </div>
                        <div class="blog-post blog-md clearfix">
                            <div class="ttr-post-media"> 
                                <a href="#"><img src="{{ asset ('assets/images/blog/grid/pic6.jpg') }}" alt=""></a> 
                            </div>
                            <div class="ttr-post-info">
                                <ul class="media-post">
                                    <li><a href="#"><i class="fa fa-calendar"></i>Feb 05 2019</a></li>
                                    <li><a href="#"><i class="fa fa-user"></i>Par Cynthia</a></li>
                                </ul>
                                <h5 class="post-title"><a href="#">Louanges</a></h5>
                                <p>
                                    La liturgie commence toujours par des louanges. Toute l’assemblée se met à genoux en levant la main et les yeux au ciel. « À celui qui est assis sur le trône, et à l’Agneau soient la louange, l’honneur, la gloire et la force, aux siècles des siècles ! » Apocalypse 5 : 13.
                                </p>
                                <div class="post-extra">
                                    <a href="#" class="comments-bx"><i class="fa fa-comments-o"></i>12 commentaires</a>
                                </div>
                            </div>
                        </div>
                        <div class="blog-post blog-md clearfix">
                            <div class="ttr-post-media"> 
                                <a href="#"><img src="{{ asset ('assets/images/blog/grid/pic7.jpg') }}" alt=""></a> 
                            </div>
                            <div class="ttr-post-info">
                                <ul class="media-post">
                                    <li><a href="#"><i class="fa fa-calendar"></i>April 14 2019</a></li>
                                    <li><a href="#"><i class="fa fa-user"></i>Par Cynthia</a></li>
                                </ul>
                                <h5 class="post-title"><a href="#">Administration</a></h5>
                                <p>
                                    Des presbytériens administrent le Sabbat avec l’aide d’un ou deux animateurs.

                                </p>
                                <p>
                                    Chaque culte est rythmé par des applaudissements répétés et de grandes louanges. Tout le monde chante et danse. Mais les pas de danse sont dictés par les danseuses et les danseurs de l’église. D’après le verset 2 et 3 de Psaume 33 : « Célébrez l’Éternel avec la harpe, célébrez-le sur le luth à dix cordes. Chantez-lui un cantique nouveau ! Faites retentir vos instruments et vos voix ! » Généralement, les louanges d’adoration comprennent sept chants.
                                </p>
                                <div class="post-extra">
                                    <a href="#" class="comments-bx"><i class="fa fa-comments-o"></i>20 commentaires</a>
                                </div>
                            </div>
                        </div>
                        <div class="blog-post blog-md clearfix">
                            <div class="ttr-post-media"> 
                                <a href="#"><img src="{{ asset ('assets/images/blog/grid/pic8.jpg') }}" alt=""></a> 
                            </div>
                            <div class="ttr-post-info">
                                <ul class="media-post">
                                    <li><a href="#"><i class="fa fa-calendar"></i>March 21 2019</a></li>
                                    <li><a href="#"><i class="fa fa-user"></i>Par Prisca</a></li>
                                </ul>
                                <h5 class="post-title"><a href="#">Prière.</a></h5>
                                <p>
                                    Puis arrivent les différentes prières dont chacune est précédée d’un chant, à savoir la prière de remerciements, de demande de miséricorde, de demande du sang de l’Agneau, de demande du Saint-Esprit ; la prière pour la patrie et les églises Apocalypse aux quatre coins du monde.
                                </p>
                                <div class="post-extra">
                                    <a href="#" class="comments-bx"><i class="fa fa-comments-o"></i>28 commentaires</a>
                                </div>
                            </div>
                        </div>
                        <div class="blog-post blog-md clearfix">
                            <div class="ttr-post-media"> 
                                <a href="#"><img src="{{ asset ('assets/images/blog/grid/pic9.jpg') }}" alt=""></a> 
                            </div>
                            <div class="ttr-post-info">
                                <ul class="media-post">
                                    <li><a href="#"><i class="fa fa-calendar"></i>March 21 2019</a></li>
                                    <li><a href="#"><i class="fa fa-user"></i>Par Prisca</a></li>
                                </ul>
                                <h5 class="post-title"><a href="#">Offrandes.</a></h5>
                                <p>
                                    Comme dans la plupart des églises, les fidèles de l’Église Apocalypse apportent leurs offrandes, entre autres la dîme, pour respecter ce qui a été écrit dans Malachie 3, verset 10 : « ‘‘Apportez à la maison du trésor toutes les dîmes, fin qu’il y ait de la nourriture dans ma maison ; mettez-moi de la sorte à l’épreuve’’, dit l’Éternel des armées. ‘‘Et vous verrez si je n’ouvre pas pour vous les écluses des cieux, si je ne répands pas sur vous la bénédiction en abondance’’. » Chacun dépose alors son offrande et sa dîme dans un panier placé près du pupitre de devant l’assemblée. Pendant ce temps, la chorale chante.
                                </p>
                                <div class="post-extra">
                                    <a href="#" class="comments-bx"><i class="fa fa-comments-o"></i>28 commentaires</a>
                                </div>
                            </div>
                        </div>
                        <div class="blog-post blog-md clearfix">
                            <div class="ttr-post-media"> 
                                <a href="#"><img src="{{ asset ('assets/images/blog/grid/pic10.jpg') }}" alt=""></a> 
                            </div>
                            <div class="ttr-post-info">
                                <ul class="media-post">
                                    <li><a href="#"><i class="fa fa-calendar"></i>March 21 2019</a></li>
                                    <li><a href="#"><i class="fa fa-user"></i>Par Prisca</a></li>
                                </ul>
                                <h5 class="post-title"><a href="#">Péricope.</a></h5>
                                <p>
                                    Par ailleurs, la lecture des versets bibliques dictés par une péricope se fait généralement à 11 h. Un pasteur, un presbytérien ou une autre personne habilitée à donner le sermon prend ensuite la parole. Il prie, prêche la parole de Dieu durant environ une heure, puis termine sa prédication par une prière. D’autres offrandes ont lieu par la suite, suivies de l’annonce des nouvelles de l’église. Ce culte du matin est clôturé par la prière du pasteur ou du presbytérien.
                                </p>
                                <div class="post-extra">
                                    <a href="#" class="comments-bx"><i class="fa fa-comments-o"></i>28 commentaires</a>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <!-- Left part END -->
                    <!-- Side bar start -->
                    <div class="col-lg-4 sticky-top">
                        <aside class="side-bar sticky-top">
                            
                            
                            
                        </aside>
                    </div>
                    <!-- Side bar END -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Content END-->
	{% endblock %}
	
	{% block javascripts %}
		
	{% endblock %}
	
