{% extends 'admin-base.html.twig' %}

{% block title %}Article
{% endblock %}
{% block stylesheets %}
	{{parent()}}
{% endblock %}
{% block body %}
	<style>
		.odd-row {
			background-color: #f2f2f2; /* Couleur pour les lignes impaires */
		}

		.even-row {
			background-color: #d3d3d3; /* Couleur pour les lignes paires */
		}
	</style>
	<style>
		.scrollable-container {
			max-height: 300px;
			overflow-y: scroll;
		}

		.sticky-header {
			position: sticky;
			top: 0;
			background-color: #f8f9fa;
		}
	</style>
	<!--Main container start -->
	<div class="container-fluid" id="container" data-categorie=" {{ categorie }}">
		<div class="db-breadcrumb">
			<h4 class="breadcrumb-title">Admin</h4>
			<ul class="db-breadcrumb-list">
				<li>
					<a href="#">
						<i class="fa fa-home"></i>
						{% trans %}Home{% endtrans %}</a>
				</li>
				<li>{% trans %}Articles{% endtrans %}</li>
			</ul>
		</div>
		<div class="row">

			<div class="container mt-4">
				<div class="row">
					<div class="col-md-6">
						<h4>Nombre d'articles par jour</h4>
						<canvas id="chart_redac_2" width="100" height="45"></canvas>
					</div>
					<div class="col-md-6">
						<h4>Total des articles</h4>
						<canvas id="chart_user" width="45" height="45"></canvas>
					</div>
				</div>
			</div>
			<canvas id="chart_redac" width="100" height="45"></canvas>
			<canvas id="articleChart" width="400" height="200"></canvas>
			<script>
				var data2 = [{% for article in articles %}{
id: {{ article.id }},
titre: {{ article.titre|json_encode|raw }},
commentaire: {{ article.commentaire|json_encode|raw }},
image: {{ article.image|json_encode|raw }},
created_at: "{{ article.getCreatedAt()|date('d/m/Y') }}", // Format de date modifié ici, sans l'heure
updated_at: "{{ article.getUpdatedAt()|date('d/m/Y') }}", // Format de date modifié ici, sans l'heure
categorie: {
id: {{ article.getCategorie().getId() }},
type: "{{ article.getCategorie().getType() }}"
},
langue: {
id: {{ article.getLangue().getId() }},
type: "{{ article.getLangue().getType() }}"
},
user: {
id: {{ article.getUser().getId() }},
email: "{{ article.getUser().getEmail() }}",
roles: {{ article.getUser().getRoles()|json_encode|raw }},
username: "{{ article.getUser().getUsername() }}",
nom: "{{ article.getUser().getNom() }}",
prenom: "{{ article.getUser().getPrenom() }}",
photo: "{{ article.getUser().getPhoto() }}",
isActif: {{ article.getUser().isActif|json_encode|raw }}
},
// ... Ajoutez d'autres champs ici si nécessaire
},{% endfor %}];

var categories = {};
data2.forEach(function (article) {
var categoryName = article.categorie.type;
if (! categories[categoryName]) {
categories[categoryName] = 1;
} else {
categories[categoryName]++;
}
});

var predefinedColors = [
'rgba(255, 99, 132, 0.7)',
'rgba(54, 162, 235, 0.7)',
'rgba(255, 206, 86, 0.7)',
'rgba(75, 192, 192, 0.7)',
'rgba(153, 102, 255, 0.7)'
];

function getRandomBrightColor() {
var r = Math.floor(Math.random() * 155) + 100; // Valeurs de rouge plus élevées
var g = Math.floor(Math.random() * 155) + 100; // Valeurs de vert plus élevées
var b = Math.floor(Math.random() * 155) + 100; // Valeurs de bleu plus élevées
return 'rgba(' + r + ', ' + g + ', ' + b + ', 0.8)';
}

var combinedColors = predefinedColors.concat(Array.from({
length: Object.keys(categories).length - predefinedColors.length
}, function () {
return getRandomBrightColor();
}));

var chartData = {
labels: Object.keys(categories),
datasets: [
{
label: 'Nombre d\'articles par catégories',
data: Object.values(categories),
backgroundColor: combinedColors
}
]
};


// Créer le graphique avec Chart.js
var ctx = document.getElementById('articleChart').getContext('2d');
var myChart = new Chart(ctx, {
type: 'bar',
data: chartData,
options: {
scales: {
x: {
beginAtZero: true, // Si vous voulez que l'axe X commence à zéro
title: {
display: true,
text: 'Article par catégorie',
font: {
size: 14,
family: "'Courier New', monospace",
color: '#0f0'
}
},
ticks: {
font: {
family: "'Courier New', monospace",
color: '#0f0'
}
}
},
y: {
beginAtZero: true, // Si vous voulez que l'axe Y commence à zéro
title: {
display: true,
text: 'Nombre d\'articles',
font: {
size: 14,
family: "'Courier New', monospace",
color: '#0f0'
}
},
ticks: {
font: {
family: "'Courier New', monospace",
color: '#0f0'
}
}
}
},
plugins: {
legend: {
labels: {
font: {
family: "'Courier New', monospace",
color: '#0f0'
}
}
}
}
}
});
			</script>
			<div class="container mt-4">
				<h4>Tableau d'Articles</h4>
				<div class="scrollable-container">
					<table class="table">
						<thead class="sticky-header">
							<tr>
								<th>Titre</th>
								<th>Créé le</th>
								<th>Mis à jour le</th>
								<th>Catégorie</th>
								<th>Langue</th>
								<th>Utilisateur</th>
							</tr>
						</thead>
						<tbody>
							<script>
								data2.forEach(function (article) {
document.write("<tr>");
document.write("<td>" + article.titre + "</td>");
document.write("<td>" + article.created_at + "</td>");
document.write("<td>" + article.updated_at + "</td>");
document.write("<td>" + article.categorie.type + "</td>");
document.write("<td>" + article.langue.type + "</td>");
document.write("<td>" + article.user.nom + " " + article.user.prenom + "</td>");
document.write("</tr>");
});
							</script>
						</tbody>
					</table>
				</div>
			</div>


			<!-- Your Profile Views Chart -->
			<div class="container mt-4">
				<h4>Tableau d'Articles</h4>
				<div class="scrollable-container">
					<table class="table table-bordered">
						<thead class="thead-light sticky-header">
							<tr>
								<th>Titre de l'article</th>
								<th>Total des commentaires</th>
							</tr>
						</thead>
						<tbody>
							{% set totalCommentsSum = 0 %}
							{% for userId, user in usersWithArticles %}
								{% for articleId, article in user.articles %}
									<tr class="{{ loop.index is odd ? 'odd-row' : 'even-row' }}">
										<td>{{ article.titre }}</td>
										<td>{{ article.commentaire|split(' ')|length }}</td>
									</tr>
									{% set totalCommentsSum = totalCommentsSum + article.commentaire|split(' ')|length %}
								{% endfor %}
							{% endfor %}
							<tr class="table-secondary">
								<td>
									<strong>Somme totale des commentaires :</strong>
								</td>
								<td>{{ totalCommentsSum }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>


			<div id="users-with-articles" data-users="{{ usersWithArticles|json_encode() }}"></div>

			<div class="col-md-6">
				<h4 class="my-4">Nombre de visite sous forme tableau :</h4>


			</div>

			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Nom</th>
						<th>Prénom</th>
						<th>Email</th>
						<th>Nombre d'articles</th>
						<th>Rôle</th>
					</tr>
				</thead>
				<tbody>
					{% for userId, user in usersWithArticles %}

						{% set roleDisplayed = false %}
						{% for articleId, article in user.articles %}
							<tr>
								{% if not roleDisplayed %}
									<td>{{ user.nom }}</td>
									<td>{{ user.prenom }}</td>
									<td>{{ user.email }}</td>
									<td>{{ user.articles|length }}</td>
									<td>{{user.role}}</td>
									{% set roleDisplayed = true %}

								{% endif %}
							</tr>
						{% endfor %}
					{% endfor %}
				</tbody>
			</table>
			<div class="col-lg-12 m-b30">
				<div class="widget-box">
					<div class="email-wrapper">
						<div class="email-menu-bar">
							<div class="email-menu-bar-inner">
								<ul>
									<li class="active">
										<a href="mailbox.html">
											<i class="fa fa-file-text-o"></i>
											{% trans %}Tous les articles{% endtrans %}
											<span class="badge badge-success">8</span>
										</a>
									</li>
									<li>
										<a href="mailbox.html">
											<i class="fa fa-send-o"></i>
											{% trans %}Article publié{% endtrans %}<span class="badge badge-success">8</span>
										</a>
									</li>
									<li>
										<a href="mailbox.html">
											<i class="fa fa-trash-o"></i>
											{% trans %}Corbeille{% endtrans %}<span class="badge badge-success">3</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="">


							{{ form_start(form, {'attr': {'class':'mail-compose', 'novalidate': 'novalidate'}}) }}
							{% for message in app.flashes('error') %}
								<div class="form-group col-12 alert alert-danger" role="alert">
									{{ message }}
								</div>
							{% endfor %}
							{{ form_errors(form) }}
							<div class="form-group col-12">
								{{ form_row(form.titre)}}
							</div>
							<div class="form-group col-12">
								<div class="summernote">
									{{ form_row(form.commentaire)}}
								</div>
							</div>
							<div class="form-group col-12">
								{{ form_row(form.categorie) }}
							</div>

							<div class="form-group col-12" id="form_event">
								{{ form_row(form.event_at)}}
							</div>

							{# <div class="form-group col-12" id="form_galerie">
																																																																																																																																																																																																																																						{{ form_row(form.galerie)}}
																																																																																																																																																																																																																																						</div> #}
							<div class="form-group col-12">
								{{ form_row(form.langue)}}
							</div>
							<div class="form-group col-12">
								{{ form_row(form.image_article)}}
							</div>
							<div class="form-group col-12" id="form_galerie">
								{{ form_row(form.galerie_pop)}}
							</div>
							<div class="form-group col-12">
								<button type="submit" class="btn btn-lg" id="btn-register">
									<i class="fa fa-save"></i>&nbsp;{% trans %}Enregistrer{% endtrans %}</button>
							</div>
							{{ form_end(form) }}

						</div>

					</div>
				</div>
			</div>
			<!-- Your Profile Views Chart END-->
		</div>
		<div
			class="row">
			<!-- Your Profile Views Chart -->
			<div class="col-lg-12 m-b30">
				<div class="widget-box">
					<div class="wc-title">
						<h4>Tous les articles</h4>
					</div>
					<div class="widget-inner">

						{% for article in articles %}
							<div class="card-courses-list bookmarks-bx">
								<div class="card-courses-media">
									<img src="{{ asset('article/'~ article.getImage() ) }}" alt=""/>
								</div>
								<div class="card-courses-full-dec">
									<div class="card-courses-title">
										<p style="font-size:14px;color:black">
											<strong>{% trans %}Catégorie:{% endtrans %}
											</strong>:
											{{article.categorie.type}}<br/>
											<strong>{% trans %}Langue:{% endtrans %}
											</strong>:
											{{article.langue.type}}<br/>
											<strong>{% trans %}Publié par:{% endtrans %}
											</strong>:
											{{article.user.username}}<br/>
											{% if  article.isIsPublished() %}
												<strong>Status:
												</strong>:
												<span style="color:#1bd111">{% trans %}Publié{% endtrans %}</span><br/>
											{% else %}
												<strong>{% trans %}Status:{% endtrans %}
												</strong>:
												<span style="color:#ff2e2e">{% trans %}Dépublié{% endtrans %}</span><br/>

											{% endif %}

										</p>
										<p></p>
										<h4 class="m-b5">{{ article.titre }}</h4>
									</div>
									<div class="row card-courses-dec">
										<div class="col-md-12">
											<p>
												{{ article.getCommentaire()|markdown_to_html|split(' ')|slice(0, 20)|join(' ') |striptags|raw }}...
											</p>
										</div>
										<div class="col-md-12">
											<button type="button" class="btn radius-xl" data-toggle="modal" data-target="#articleModal{{ article.getId() }}">
												<i class="fa fa-eye"></i>
											</button>
											<div class="modal fade" id="articleModal{{ article.getId() }}" tabindex="-1" role="dialog" aria-labelledby="articleModalLabel" aria-hidden="true">
												<div class="modal-dialog" role="document">
													<div class="modal-content">
														<div class="modal-header">
															<h5 class="modal-title" id="articleModalLabel">{{ article.titre }}</h5>
															<button type="button" class="close" data-dismiss="modal" aria-label="Close">
																<span aria-hidden="true">&times;</span>
															</button>
														</div>
														<div class="modal-body">
															{{ article.getCommentaire()|markdown_to_html }}

														</div>
														<div class="modal-footer">
															<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
														</div>
													</div>
												</div>
											</div>
											<a href="{{ path ('app_article', {'article_get': article.getId(), 'option':'update' })}}" title="Modifier" class="btn radius-xl">
												<i class="fa fa-edit"></i>
											</a>
											{% if articles|length >= 6 %}
												<a href="#" title="Supprimer" class="btn radius-xl" onclick="return confirmDelete('{{ path('app_article', {'article_get': article.getId(), 'option': 'delete'}) }}');">
													<i class="fa fa-trash-o"></i>
												</a>
											{% else %}
												<a href="#" title="Le nombre d'articles doit être supérieur ou égal à 6 pour activer la suppression." class="btn btn-danger radius-xl">
													<i class="fa fa-question-circle"></i>
												</a>

											{% endif %}
											{% set class = "fa fa-check" %}
											{% set option = "publish" %}
											{% set style = "" %}
											{% set title = "publier" %}
											{% if  article.isIsPublished() %}
												{% set class = "fa fa-close" %}
												{% set style = "background:coral;color:#fff;border-color: none;" %}
												{% set option = "unPublish" %}
												{% set title = "Depublier" %}
											{% endif %}

											<a href="{{ path('app_article', {'article_get': article.getId(), 'option': option } )}}" title=" {{ title }}" style="background:coral;color:#fff;border-color: coral;" class="btn red outline radius-xl ">
												<i class=" {{class}}"></i>
											</a>
										</div>
									</div>

								</div>
							</div>
						{% endfor %}

					</div>
				</div>
			</div>
			<!-- Your Profile Views Chart END-->
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	{{parent()}}
	<script>
		function confirmDelete(deleteUrl) {
if (confirm("Êtes-vous sûr de vouloir supprimer cet article ?")) {
window.location.href = deleteUrl;
return true;
}
return false;
}
	</script>
	<script src="https://cdn.tiny.cloud/1/zhj0bg5ptlm0pd6x272r9mjaw5k1oeji439ebnxidn53tb6v/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
	{# // <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin" defer></script> #}
	<script src="https://cdn.jsdelivr.net/npm/@tinymce/tinymce-jquery@1/dist/tinymce-jquery.min.js" defer></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js" defer></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js" defer></script>

	<script src="{{ asset ('js/variable/varGlobale.js') }}" defer></script>
	<script src="{{ asset ('js/articleManager.js') }}" defer></script>
	<script src="{{ asset ('js/notificationManager.js') }}" defer></script>
	<script src="{{ asset ('js/articleSocket.js') }}" defer></script>
	<script src="{{ asset ('js/admin/article/article.js')}}" defer></script>


{% endblock %}
