{% extends 'base.html.twig' %}

{% block title %}Apokalpsy -
	{{ type }}
{% endblock %}
{% block stylesheets %}
	{{parent()}}
	<style>
		.loading {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	</style>
{% endblock %}

{% block body %}
	<div class="breadcrumb-row">
		<div class="container">
			<ul class="list-inline">
				<li>
					<a href="#">{% trans %}Home{% endtrans %}
					</a>
				</li>
				<li>{{ type|trans }}</li>
			</ul>
		</div>
	</div>


	<!-- Content -->
	<div
		class="page-content bg-white">
		<!-- contact area -->
		<div class="content-block">
			<div class="section-area section-sp1">
				<div class="container">
					<div
						class="row">
						<!-- Left part start -->
						<div class="col-lg-12" id="container" data-type="{{ type }}"></div>
						<div class="loading">

							<main class="ttr-wrapper">
								<div class="container-fluid">
									<div class="db-breadcrumb">
										<ul class="db-breadcrumb-list">
											<li>
												<a href="{{ path ('app_home') }}">
													<i class="fa fa-home"></i>Accueil</a>
											</li>
											<li>Tous les articles</li>
										</ul>
									</div>
									<div
										class="row">
										<!-- Your Profile Views Chart -->
										{% for article in articles %}
											{% set className = "col-lg-12 m-b30 article-" ~ article.categorie.type %}
											<div class="{{ className }}">
												<div class="widget-box">

													<div class="widget-inner">
														<div class="card-courses-list bookmarks-bx">
															<div class="card-courses-media">
																<img src="{{ asset('article/' ~ article.image) }}" alt="Article populaire">


															</div>
															<div class="card-courses-full-dec">
																<div class="card-courses-title">
																	<h4 class="m-b5" style="color:red">{{article.titre}}</h4>
																</div>
																<div class="card-courses-list-bx">
																	<ul class="card-courses-view">
																		<li class="card-courses-categories">
																			<h5 style="color:green">Categories:
																				{{article.categorie.type}}</h5>
																		</li>
																	</ul>
																	<ul class="card-courses-view">
																		<li class="card-courses-categories">
																			<h5>Mise à jour le:
																				{{ populaire_recent.updatedAt|date("d-M-Y") }}</h5>
																		</li>
																	</ul>
																</div>
																<div class="row card-courses-dec">
																	<div class="col-md-12">
																		<p>{{ article.commentaire|markdown_to_html }}
																		</p>
																	</div>
																</div>

															</div>
														</div>


													</div>
												</div>
											</div>
										{% endfor %}
										<!-- Your Profile Views Chart END-->
									</div>
								</div>
							</main>
						</div>
						<!-- Left part END -->
						<!-- Side bar start -->
						<div class="col-lg-4 sticky-top">
							<aside class="side-bar sticky-top"></aside>
						</div>
						<!-- Side bar END -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Content END-->
{% endblock %}

{% block javascripts %}
	{{ parent()}}
	<script src="{{ asset ('js/infinityScroll/articlesInfinityScroll.js') }}" defer></script>
{% endblock %}
