<!DOCTYPE html>
<html>
	<head>
		<meta
		charset="UTF-8">
		<!-- META ============================================= -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="keywords" content=""/>
		<meta name="author" content=""/>
		<meta
		name="robots" content=""/>

		<!-- DESCRIPTION -->
		<meta
		name="description" content="EduChamp : Education HTML Template"/>

		<!-- OG -->
		<meta property="og:title" content="EduChamp : Education HTML Template"/>
		<meta property="og:description" content="EduChamp : Education HTML Template"/>
		<meta property="og:image" content=""/>
		<meta
		name="format-detection" content="telephone=no">

		<!-- FAVICONS ICON ============================================= -->
		<link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/assets.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/typography.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/shortcodes/shortcodes.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/style.css') }}">
		<link class="skin" rel="stylesheet" type="text/css" href="{{ asset('assets/css/color/color-1.css') }}">
		<link rel="shortcut icon" type="image/x-icon" href="{{ asset('assets/images/favicon.png') }}"/>


		<link
		rel="stylesheet" type="text/css" href="assets/css/iconstyle.css">
		{# javascript file #}
		<script src="{{ asset('js/script.js') }}"></script>
		<script src=" {{ asset('assets/js/jquery.min.js') }}"></script>
		<script src=" {{ asset('assets/vendors/bootstrap/js/popper.min.js') }}"></script>
		<script src=" {{ asset('assets/vendors/bootstrap/js/bootstrap.min.js') }}"></script>
		<script src=" {{ asset('assets/vendors/bootstrap-select/bootstrap-select.min.js') }}"></script>
		<script src=" {{ asset('assets/vendors/bootstrap-touchspin/jquery.bootstrap-touchspin.js') }}"></script>
		<script src=" {{ asset('assets/vendors/magnific-popup/magnific-popup.js') }}"></script>
		<script src=" {{ asset('assets/vendors/counter/waypoints-min.js') }}"></script>
		<script src=" {{ asset('assets/vendors/counter/counterup.min.js') }}"></script>
		<script src=" {{ asset('assets/vendors/imagesloaded/imagesloaded.js') }}"></script>
		<script src=" {{ asset('assets/vendors/masonry/masonry.js') }}"></script>
		<script src=" {{ asset('assets/vendors/masonry/filter.js') }}"></script>
		<script src=" {{ asset('assets/vendors/owl-carousel/owl.carousel.js') }}"></script>
		<script src=" {{ asset('assets/js/functions.js') }}"></script>
		<script src=" {{ asset('assets/js/contact.js') }}"></script>
		
		{# run `composer require symfony/webpack-encore-bundle` to start using symfony ux #}
		{% block stylesheets %}
			{# {{ encore_entry_link_tags(' app') }} #}
		{% endblock %}

		{% block javascripts %}
			{# {{ encore_entry_script_tags('app') }} #}

		{% endblock %}
	</head>
	<body>
		{% block body %}{% endblock %}

	</body>
</html>
